.comment-item {
  padding: 5px;
  width: 100%;
}

.comment-item-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid silver;
  padding-bottom: 1px;
  text-align: left;
}

.user-container {
  width: 65%;
}

.points-container {
  width: 35%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.point-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.point-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.point-button button {
  padding: 2px 5px;
  box-sizing: border-box;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #4285f4;
}

.comment-item h4 {
  font-size: 0.7em;
  padding: 0;
  margin: 0;
}

.comment-item h4 span {
  color: #4285f4;
}

.comment-item p {
  text-align: left;
  padding: 0;
  margin: 3px 0;
}
