.comments-view {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  overflow-y: scroll;
  z-index: 9999;
  background-color: white;
  padding: 10px;
}

.comments-view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comments-view-button button {
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #4285f4;
}
