.comments-view {
  position: fixed;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  height: calc(100vh - 55px);
  overflow-y: scroll;
  z-index: 9999;
  background-color: white;
  padding: 10px;
}

.comments-view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 15px;
}

.comments-view-button button {
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #4286f4d8;
  width: 100%;
}

.comments-view textarea {
  margin: 10px 0 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid silver;
}

.submit-comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0 0;
}

.submit-comment-button button {
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #4285f4;
}
