.address-overview p {
  margin: 0;
  padding: 2px;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
}

.show-comments-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.show-comments-button button {
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #4285f4;
}
