.address-ov-wide {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* align-items: flex-start; */
  height: 100%;
  width: 100%;
}

.address-ov-wide li {
  font-size: 0.8em;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* align-items: flex-start; */
  border-bottom: 1px dashed silver;
}

.address-info {
  position: relative;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
}

.address-stats {
  height: 35%;
  width: 100%;
  padding: 10px;
  position: relative;
  align-self: flex-start;
}

.address-stats ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.address-data {
  height: 75%;
  width: 100%;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid silver;
}

.address-data ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.address-comments {
  position: relative;
  height: calc(100% - 200px);
  padding-top: 10px;
}
