* {
  box-sizing: border-box;
  /* font-family: "Alegreya", serif;
  font-family: "Alegreya Sans", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Quattrocento", serif;
  font-family: "Quattrocento Sans", sans-serif; */
}

.responsive-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 95px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .responsive-container {
    flex-flow: column nowrap;
  }
}
